.app {
  margin: 60px auto;
  max-width: 800px;
}
.container {
  background: #edf7fa;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60 auto;
  width: 100%;
}
.card {
  margin: 60px auto;
  border-radius: 16px;
  padding: 40px;
}
.app-name {
  color: #ff8364;
  text-align: center;
  font-family: "Covered By Your Grace", cursive;
  font-size: 45px;
}
form {
  display: inline;
  text-align: left;
}

.search-city {
  background: #edf7fa;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  height: 30px;
  line-height: 20px;
  padding: 15px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.search-button {
  background: #5f6caf;
  border: none;
  font-size: 16px;
  height: 30px;
  color: white;
  width: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.search-button:hover {
  background: white;
  color: #5f6caf;
  border: 1px solid #5f6caf;
  transition: all 200ms ease-in-out;
}
.card-body {
  font-family: "Quicksand", sans-serif;
}
.icon-weather {
  position: relative;
  top: -10px;
}
.card-title {
  font-size: 30px;
  font-weight: 700;
  color: #43bfc7;
  margin-bottom: 0;
}

.temperature {
  font-size: 30px;
  font-weight: 700;
  color: #43bfc7;
  margin: 0;
  padding: 0;
}
.unit {
  font-size: 20px;
  font-weight: 500;
  color: #43bfc7;
  margin: 0;
  padding: 0;
  position: relative;
  top: -10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: gray;
}
li:first-letter {
  text-transform: capitalize;
}

footer {
  font-size: 12px;
  background-color: white;
  position: absolute;
  bottom: 0;}

  .card-footer {
 padding: 0%;
}
.temperature-container .active {
  color: black;
  cursor: default;
}

.temperature-container .active:hover {
  text-decoration: none;
}
.five-day-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
  font-size: 16px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
